/* ENTIRE  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

html {
  font-size: 62.5%; /* to apply rem easily  */
}

body {
  background: hsl(210, 46%, 95%);
  font-size: 1.3rem;
  min-height: 100vh;
}

/* SECTION HOUSING THE GRID  */

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5rem 3rem;
  min-height: 95vh;
}

/* CONTAINER FOR THE GRID */

main {
  display: grid;
  margin: auto;
  max-width: 1150px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 2rem;
  grid-template-areas:
    'box1 box1 box2 box5'
    'box3 box4 box4 box5';
}

/* GENERAL BOX STYLING */

.boxes {
  display: flex;
  flex-direction: column;
  background: blueviolet;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
}

.boxes img {
  border-radius: 50%;
  border: 2px solid hsl(217, 19%, 35%);
  min-height: 1rem;
  width: 4rem;
  margin: 1rem;
}

/* INDIVIUAL BOX STYLING */
.daniel {
  grid-area: box1;
  background-color: hsl(263, 55%, 52%);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.johnathan {
  grid-area: box2;
  background: hsl(217, 19%, 35%);
}

.jeanette {
  grid-area: box3;
  background: white;
}

.patrick {
  grid-area: box4;
  background: hsl(219, 29%, 14%);
}

.kira {
  grid-area: box5;
  background: white;
}

.name-tag-img {
  display: flex;
}

.name-tag {
  padding: 2rem;
  padding-left: 0.1rem;
  color: hsl(0, 0%, 81%);
}

.tag {
  opacity: 0.5rem;
}

.name {
  font-weight: 600;
}

h3,
p {
  padding: 1rem;
}

h3 {
  color: white;
  font-weight: 600;
}

p {
  color: hsl(0, 0%, 81%);
  opacity: 0.7rem;
}

.jeanette h3,
.jeanette p,
.kira h3,
.kira p {
  color: hsl(217, 19%, 35%);
}

.jeanette .name-tag,
.kira .name-tag {
  color: hsl(217, 19%, 35%);
}

/* FOOTER section */
footer {
  text-align: center;
}

/* MEDIA QUERY  */

@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
